<!DOCTYPE html>
<html>
<head>
  <title>Pay 2 Pee</title>
   <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
   <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
   <style>
		body {
			padding: 0;
			margin: 0;
		}
		html, body, #map {
			height: 100%;
		}
	</style>
</head>
<body>
  <div id="map"></div>
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script>
    //map initialization
    var map = L.map('map');

    /*
     * var SW = L.latLng(34.01085, -118.3002);
     * var SE = L.latLng(34.01114, -118.28271);
     * var NW = L.latLng(34.02542, -118.3002);
     * var NE = L.latLng(34.02513, -118.28286);
     * var bounds = L.latLngBounds(SW, NE);
     * map.fitBounds(bounds);
     */

    //stuff about the map
		L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
			maxZoom: 18,
			attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
				'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
				'Imagery © <a href="http://mapbox.com">Mapbox</a>',
			id: 'examples.map-i875mjb7'
		}).addTo(map);

    //Bathrooms:
		L.marker([34.0205, -118.2856]).addTo(map)
			.bindPopup("html content for the object and stripe goes here");


    function onLocationFound(e) {

			L.marker(e.latlng).addTo(map)
				.bindPopup("Your Current Location").openPopup();

			L.circle(e.latlng, radius).addTo(map);
		}

    function onLocationError(e) {
			alert(e.message);
		}

		map.on('locationfound', onLocationFound);
		map.on('locationerror', onLocationError);

		map.locate({setView: true, maxZoom: 16});
  </script>
</body>
</html>
